# Configuración de la base de datos PostgreSQL
POSTGRES_DB=nombre_base_datos
POSTGRES_USER=usuario_postgres
POSTGRES_PASSWORD=contraseña_postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432

# Credenciales del Webservice
WEBSERVICE_USER=tu_usuario_webservice
WEBSERVICE_PASSWORD=tu_contraseña_webservice
WEBSERVICE_URL=https://tu_webservice_url.com

# Otras variables que puedas necesitar
# USER_CYT=usuario
# PASSWORD=contraseña
